@model IEnumerable<Q2B_MVC.Models.Imagenes>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top:35px">Listado de Tarjetas</h2>

<p>
    <button type="button" class="btn btn-primary btn-block"
            onclick="location.href = '@Url.Action("Create")';">
        Crear nueva Tarjeta
    </button>
</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlImagen)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = '@Url.Action("Edit", new { id=item.Id })';">
                            Editar
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = '@Url.Action("Details", new { id=item.Id })';">
                            Detalles
                        </button>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = '@Url.Action("Delete", new { id=item.Id })';">
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary"
        onclick="location.href = '@Url.Action("Index", "Home")';">
    Atrás
</button>
